@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
  margin:  5;
  padding:  5;
  box-sizing:  border-box;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  
}

.cardHighlight {
  min-height: 100%;
  text-align: center;  
}

.my-nav{
  height: 100%;
  display: flex;
  color: ghostwhite;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  
}




